/* This file is part of RECAP for Chrome.
   Copyright 2013 Ka-Ping Yee <ping@zesty.ca>

   RECAP for Chrome is free software: you can redistribute it and/or modify it
   under the terms of the GNU General Public License as published by the Free
   Software Foundation, either version 3 of the License, or (at your option)
   any later version.  RECAP for Chrome is distributed in the hope that it will
   be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
   Public License for more details.

   You should have received a copy of the GNU General Public License along with
   RECAP for Chrome.  If not, see: http://www.gnu.org/licenses/

*/

/*
   CSS For the options page
*/
#options-body {
  background-color: white;
  color: black;
  width: 580px;
  height: 600px;
}

#options-body .btn-primary {
  background-color: #428bca;
  border-color: #357ebd;
}

#options-body .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #428bca;
  border-color: #357ebd;
}

#options-body #container {
  padding: 20px;
  height: 100%;
  display: grid;
  grid-template-rows: [header] 42px [main] auto [footer] 42px;
}

#options-body button {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

#options-body .alert {
  background: lightyellow;
}
#options-body .gold {
  color: gold;
}
#options-body .gray {
  color: gray;
}

#options-body .hidden {
  display: none;
}
#options-body .text-center {
  text-align: center;
}

#options-body .pad20 {
  padding: 20px;
}

#options-body a {
  text-decoration: none;
}

#options-body #version {
  font-family: helvetica, arial, serif;
  font-size: 10px;
}

#options-body legend {
  margin: 0;
}

#options-body fieldset {
  padding: 10px 0px;
}

#nav-recap {
  padding-top: 20px;
}

#nav-recap h4 {
  padding: 40px 0px 20px 0px;
}

#nav-recap #search-container {
  width: 100%;
  padding: 0px 20px;
}

#nav-recap #more-search-buttons,
#nav-donate #donate-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav-recap #more-search-buttons {
  padding: 20px;
}

#nav-recap #more-search-buttons a {
  margin: 0px 10px;
}

#options-body main {
  padding: 20px;
}

#options-body footer {
  bottom: 0;
  display: grid;
  grid-template-columns: 33% auto 33%;
  justify-items: center;
  align-items: center;
}

footer #disable_recap_toggle {
  justify-self: start;
}
footer #badges {
  justify-self: end;
}
footer #version {
  justify-self: center;
}
